In [1]:
# Standard modules

import pandas as pd

In [2]:
# Import data for NL 2008-2017 seasons

nl_2008_2017 = pd.read_csv('nl_2008_2017.csv')
nl_2008_2017.shape

(155, 19)

In [4]:
nl_2008_2017.head()

,Team,Year,Wins,TeamWAR,AllP,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,ARI,2008.0,82.0,30.1,22.7,18.1,5.0,7.4,1.2,0.2,2.1,0.7,3.2,-0.6,1.4,0.0,0.8,0.0,-0.8
1,ATL,2008.0,72.0,28.4,4.3,4.4,-0.1,24.1,4.1,4.1,2.6,7.6,3.3,0.3,2.2,-2.0,0.5,0.2,1.7
2,CHC,2008.0,97.0,49.0,29.1,22.9,5.6,19.9,2.8,1.9,3.3,3.0,2.2,2.4,1.6,0.9,4.9,0.1,1.7
3,CIN,2008.0,74.0,21.0,12.0,6.8,6.1,9.0,0.3,2.7,2.8,0.4,-1.1,2.6,0.5,0.6,3.7,0.0,0.2
4,COL,2008.0,74.0,26.6,13.0,8.2,6.5,13.6,2.4,1.0,1.7,1.2,1.8,5.8,-0.4,-0.2,5.2,0.0,0.3

In [15]:
# If we want to compare all these seasons, we should determine if TeamWAR and Wins have similar statistics across seasons.

season_2008 = nl_2008_2017['Year'] == 2008
df = nl_2008_2017[season_2008].describe()
df

,Year,Wins,TeamWAR,AllP,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
count,16.0,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.000000
mean,2008.0,79.437500,29.775000,12.225000,9.037500,3.443750,17.550000,1.606250,2.168750,2.08125,2.262500,2.518750,2.387500,2.137500,1.631250,6.156250,0.05000,0.706250
std,0.0,11.002841,10.537267,7.475694,5.983296,2.791886,8.098806,1.499542,2.607609,2.41529,2.342613,2.460682,1.637427,2.029737,1.808395,3.528922,0.11547,0.845749
min,2008.0,59.000000,13.600000,0.700000,-0.800000,-1.800000,3.800000,-0.700000,-1.200000,-0.90000,-0.700000,-1.800000,-0.600000,-0.500000,-2.000000,0.500000,-0.20000,-0.800000
25%,2008.0,72.000000,20.950000,7.225000,5.625000,1.650000,12.450000,0.600000,0.575000,0.07500,0.775000,1.500000,1.850000,0.725000,0.475000,4.600000,0.00000,0.175000
50%,2008.0,83.000000,28.500000,12.350000,7.200000,3.400000,16.700000,1.250000,1.700000,1.90000,1.700000,2.100000,2.450000,1.900000,1.750000,5.850000,0.05000,0.700000
75%,2008.0,86.750000,39.325000,14.525000,13.050000,5.725000,24.350000,2.900000,2.875000,2.92500,3.025000,4.725000,3.100000,3.425000,2.450000,9.500000,0.10000,1.350000
max,2008.0,97.000000,49.000000,29.100000,22.900000,8.000000,31.700000,4.100000,8.900000,8.90000,7.600000,6.900000,5.800000,6.900000,4.900000,11.400000,0.30000,2.100000

In [20]:
mean_wins = []
med_wins = []
std_wins = []
mean_team_war = []
med_team_war = []
std_team_war = []
for season in range(2008,2018):
    season_filter = nl_2008_2017['Year'] == season
    df = nl_2008_2017[season_filter].describe()
    mean_wins += [df['Wins']['mean']]
    med_wins += [df['Wins']['50%']]
    std_wins += [df['Wins']['std']]
    mean_team_war += [df['TeamWAR']['mean']]
    med_team_war += [df['TeamWAR']['50%']]
    std_team_war += [df['TeamWAR']['std']]

In [22]:
years = [i for i in range(2008,2018)]

In [26]:
summary_dic = {'Year' : years,
               'MeanWins' : mean_wins,
              'MedWins' : med_wins,
              'SDWins' : std_wins,
              'MeanTeamWar' : mean_team_war,
              'MedTeamWar' : med_team_war,
              'SDTeamWar' : std_team_war}
summary_2008_2017 = pd.DataFrame(data = summary_dic, columns = summary_dic.keys())
summary_2008_2017

   Year   MeanWins  MedWins     SDWins  MeanTeamWar  MedTeamWar  SDTeamWar
0  2008  79.437500     83.0  11.002841    29.775000        28.5  10.537267
1  2009  80.187500     81.5  11.094856    30.325000        29.5  10.402724
2  2010  80.500000     80.0  10.776518    29.831250        30.2  11.717151
3  2011  80.625000     79.5  11.763645    30.231250        29.4   9.133361
4  2012  80.000000     81.0  12.992305    29.950000        29.8   9.694603
5  2013  80.733333     76.0  11.093542    31.433333        29.5   9.817817
6  2014  80.133333     79.0   9.523405    31.213333        29.3   8.166733
7  2015  79.866667     79.0  13.097801    31.140000        35.3  11.470073
8  2016  79.866667     78.0  11.089678    31.100000        29.9  12.365852
9  2017  80.333333     77.0  12.378938    31.040000        26.7  11.945041