In [1]:
# Standard modules

import pandas as pd
import math

In [2]:
# Import data for NL 2008-2017 seasons

nl_2008_2017 = pd.read_csv('nl_2008_2017.csv')
nl_2008_2017.shape

(155, 19)

In [4]:
nl_2008_2017.head()

,Team,Year,Wins,TeamWAR,AllP,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,ARI,2008.0,82.0,30.1,22.7,18.1,5.0,7.4,1.2,0.2,2.1,0.7,3.2,-0.6,1.4,0.0,0.8,0.0,-0.8
1,ATL,2008.0,72.0,28.4,4.3,4.4,-0.1,24.1,4.1,4.1,2.6,7.6,3.3,0.3,2.2,-2.0,0.5,0.2,1.7
2,CHC,2008.0,97.0,49.0,29.1,22.9,5.6,19.9,2.8,1.9,3.3,3.0,2.2,2.4,1.6,0.9,4.9,0.1,1.7
3,CIN,2008.0,74.0,21.0,12.0,6.8,6.1,9.0,0.3,2.7,2.8,0.4,-1.1,2.6,0.5,0.6,3.7,0.0,0.2
4,COL,2008.0,74.0,26.6,13.0,8.2,6.5,13.6,2.4,1.0,1.7,1.2,1.8,5.8,-0.4,-0.2,5.2,0.0,0.3

In [27]:
# If we want to compare all these seasons, we should determine if TeamWAR and Wins have similar statistics across seasons.
# Here we set the columns for the summary df.

mean_wins = []
med_wins = []
std_wins = []
mean_team_war = []
med_team_war = []
std_team_war = []
for season in range(2008,2018):
    season_filter = nl_2008_2017['Year'] == season
    df = nl_2008_2017[season_filter].describe()
    mean_wins += [df['Wins']['mean']]
    med_wins += [df['Wins']['50%']]
    std_wins += [df['Wins']['std']]
    mean_team_war += [df['TeamWAR']['mean']]
    med_team_war += [df['TeamWAR']['50%']]
    std_team_war += [df['TeamWAR']['std']]
    
years = [i for i in range(2008,2018)]

In [28]:
# Making the summary df

summary_dic = {'Year' : years,
               'MeanWins' : mean_wins,
              'MedWins' : med_wins,
              'SDWins' : std_wins,
              'MeanTeamWar' : mean_team_war,
              'MedTeamWar' : med_team_war,
              'SDTeamWar' : std_team_war}
summary_2008_2017 = pd.DataFrame(data = summary_dic, columns = summary_dic.keys())
summary_2008_2017

   Year   MeanWins  MedWins     SDWins  MeanTeamWar  MedTeamWar  SDTeamWar
0  2008  79.437500     83.0  11.002841    29.775000        28.5  10.537267
1  2009  80.187500     81.5  11.094856    30.325000        29.5  10.402724
2  2010  80.500000     80.0  10.776518    29.831250        30.2  11.717151
3  2011  80.625000     79.5  11.763645    30.231250        29.4   9.133361
4  2012  80.000000     81.0  12.992305    29.950000        29.8   9.694603
5  2013  80.733333     76.0  11.093542    31.433333        29.5   9.817817
6  2014  80.133333     79.0   9.523405    31.213333        29.3   8.166733
7  2015  79.866667     79.0  13.097801    31.140000        35.3  11.470073
8  2016  79.866667     78.0  11.089678    31.100000        29.9  12.365852
9  2017  80.333333     77.0  12.378938    31.040000        26.7  11.945041

How can we decide if these values are consistent enough for comparison? At a glance, 2013 MedWins and 2015 MedTeamWar appear like outliers.

According to Baseball Reference, the standard conversion for Team WAR to wins is 
<center>wins = Team WAR + .294 * 162.</center>
This has the advantage that is can be used at any point in the season by replacing 162 with games played. We will start by doing a linear regression with the data from NL 2017 and compare the results.

In [30]:
# Scatterplot of Wins vs TeamWAR

team_war_values = nl_2008_2017['TeamWAR']
wins_values = nl_2008_2017['Wins']

plt.scatter(team_war_values, wins_values)
plt.title('Wins vs. TeamWAR')
plt.xlabel('TeamWAR')
plt.ylabel('Wins')
plt.show()

NameError: name 'plt' is not defined