In [1]:
import pandas as pd

In [2]:
#Import data and remove unneeded rows and columns

nl_2017 = pd.read_csv("nl_data/2017_nl.csv")
nl_2017 = nl_2017.drop(nl_2017.index[15])
nl_2017 = nl_2017.drop('Rk', axis = 1)
nl_2017.head()

,Total,All P,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,LAD49.5,ARI28.5,ARI21.4,MIL6.9,LAD30.3,ATL4.3,CIN7.5,PHI3.4,COL7.1,LAD6.0,MIA5.4,COL5.7,MIA7.1,MIA16.5,LAD0.4,LAD2.3
1,ARI47.0,WSN25.5,WSN21.2,COL6.9,MIA29.6,CHC4.1,ARI5.5,LAD3.0,LAD6.1,CIN4.3,STL4.7,MIA4.0,WSN4.2,NYM10.5,ARI0.3,CHC1.9
2,WSN46.1,COL21.2,COL15.0,ARI6.5,CHC27.5,MIA3.5,CHC4.3,WSN2.9,WSN6.0,WSN3.4,NYM4.0,NYM3.9,ARI4.1,STL9.4,MIA0.3,STL1.6
3,CHC42.4,LAD19.2,LAD13.3,PIT6.2,CIN23.7,LAD3.3,ATL4.2,MIA2.8,CHC5.8,CHC3.3,PHI2.6,STL3.3,LAD3.5,ARI7.4,NYM0.2,MIL1.5
4,COL38.0,MIL17.7,MIL11.0,LAD6.1,STL23.0,SFG3.1,STL3.2,STL2.6,MIL4.1,MIL2.8,LAD2.5,ATL3.0,MIL3.2,LAD7.4,SFG0.2,NYM1.2

In [3]:
# Put each column in the same order, so the values for each team are in the same row.

columns = list(nl_2017.columns)

for column in columns:
    column_list = list(nl_2017[column])
    sorted_column_list = sorted(column_list)
    
    for i in range(0,15):
        nl_2017[column][i] = sorted_column_list[i]

In [4]:
#Add a new 'Team' column.

teams_list = []
for i in range(0,15):
    teams_list += [nl_2017['Total'][i][0:3]]
    
nl_2017.insert(loc = 0, column = 'Team', value = teams_list)

In [5]:
#Add a 'Year' column. Only needed for a larger analysis using data from different seasons.

year = 15*['2017']
nl_2017.insert(loc = 1, column = 'Year', value = year)

In [6]:
nl_2017.head()

,Team,Year,Total,All P,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,ARI,2017,ARI47.0,ARI28.5,ARI21.4,ARI6.5,ARI18.5,ARI0.5,ARI5.5,ARI1.3,ARI1.3,ARI1.1,ARI0.4,ARI2.9,ARI4.1,ARI7.4,ARI0.3,ARI1.1
1,ATL,2017,ATL20.4,ATL6.7,ATL5.2,ATL2.2,ATL13.7,ATL4.3,ATL4.2,ATL2.0,ATL0.7,ATL0.0,ATL-1.5,ATL3.0,ATL0.6,ATL2.1,ATL0.0,ATL0.4
2,CHC,2017,CHC42.4,CHC14.9,CHC9.5,CHC5.5,CHC27.5,CHC4.1,CHC4.3,CHC2.3,CHC5.8,CHC3.3,CHC1.0,CHC2.0,CHC2.8,CHC5.8,CHC0.0,CHC1.9
3,CIN,2017,CIN21.6,CIN-2.1,CIN-1.7,CIN0.6,CIN23.7,CIN2.0,CIN7.5,CIN1.1,CIN3.7,CIN4.3,CIN1.8,CIN1.0,CIN1.4,CIN4.2,CIN0.1,CIN0.8
4,COL,2017,COL38.0,COL21.2,COL15.0,COL6.9,COL16.8,COL0.4,COL0.5,COL2.5,COL7.1,COL2.2,COL-0.5,COL5.7,COL-0.5,COL4.7,COL0.0,COL-0.6

In [7]:
#Remove team name from each entry and convert to float. Minor annoyance that the entry could have a "-" after the team name.

for column in columns:
    for i in range(0,15):
        if nl_2017[column][i][3] == "-":
            nl_2017[column][i] = float(nl_2017[column][i][4:])
        else:
            nl_2017[column][i] = float(nl_2017[column][i][3:])
            
nl_2017.head()

,Team,Year,Total,All P,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,ARI,2017,47,28.5,21.4,6.5,18.5,0.5,5.5,1.3,1.3,1.1,0.4,2.9,4.1,7.4,0.3,1.1
1,ATL,2017,20.4,6.7,5.2,2.2,13.7,4.3,4.2,2,0.7,0,1.5,3,0.6,2.1,0,0.4
2,CHC,2017,42.4,14.9,9.5,5.5,27.5,4.1,4.3,2.3,5.8,3.3,1,2,2.8,5.8,0,1.9
3,CIN,2017,21.6,2.1,1.7,0.6,23.7,2,7.5,1.1,3.7,4.3,1.8,1,1.4,4.2,0.1,0.8
4,COL,2017,38,21.2,15,6.9,16.8,0.4,0.5,2.5,7.1,2.2,0.5,5.7,0.5,4.7,0,0.6

In [8]:
#Need to add a column for team wins.
#Load standings data

standings_2017 = pd.read_csv("mlb_standings/2017_standings.csv")
standings_2017.head()

,Rk,Tm,Lg,G,W,L,W-L%,R,RA,Rdiff,...,Luck,Inter,Home,Road,ExInn,1Run,vRHP,vLHP,=.500,<.500
0,1.0,LAD,NL,162.0,104,58,0.642,4.8,3.6,1.2,...,2.0,16-4,57-24,47-34,8-4,25-19,71-43,33-15,36-33,68-25
1,2.0,CLE,AL,162.0,102,60,0.630,5.0,3.5,1.6,...,-6.0,6-14,49-32,53-28,4-2,20-15,66-36,36-24,27-22,75-38
2,3.0,HOU,AL,162.0,101,61,0.624,5.5,4.3,1.2,...,2.0,15-5,48-33,53-28,4-4,19-13,80-37,21-24,18-15,83-46
3,4.0,WSN,NL,162.0,97,65,0.599,5.1,4.1,0.9,...,1.0,10-10,47-34,50-31,7-4,30-21,75-50,22-15,23-19,74-46
4,5.0,BOS,AL,162.0,93,69,0.574,4.8,4.1,0.7,...,0.0,16-4,48-33,45-36,15-3,22-19,75-50,18-19,27-23,66-46

In [9]:
#Extract NL team with wins as a list with the alphabetical order
team_wins = []
for i in range(0,30):
    team = standings_2017['Tm'][i]
    league = standings_2017['Lg'][i]
    wins = float(standings_2017['W'][i])
    if league == 'NL':
        team_wins += [(team, wins)]
team_wins = sorted(team_wins)

sorted_wins = []
for i in range(0,15):
    wins = team_wins[i][1]
    sorted_wins += [wins]
sorted_wins

[93.0,
 72.0,
 92.0,
 68.0,
 87.0,
 104.0,
 77.0,
 86.0,
 70.0,
 66.0,
 75.0,
 71.0,
 64.0,
 83.0,
 97.0]

In [10]:
#Add the wins column.
nl_2017.insert(loc = 2, column = 'Wins', value = sorted_wins)
nl_2017.head()

,Team,Year,Wins,Total,All P,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,ARI,2017,93.0,47,28.5,21.4,6.5,18.5,0.5,5.5,1.3,1.3,1.1,0.4,2.9,4.1,7.4,0.3,1.1
1,ATL,2017,72.0,20.4,6.7,5.2,2.2,13.7,4.3,4.2,2,0.7,0,1.5,3,0.6,2.1,0,0.4
2,CHC,2017,92.0,42.4,14.9,9.5,5.5,27.5,4.1,4.3,2.3,5.8,3.3,1,2,2.8,5.8,0,1.9
3,CIN,2017,68.0,21.6,2.1,1.7,0.6,23.7,2,7.5,1.1,3.7,4.3,1.8,1,1.4,4.2,0.1,0.8
4,COL,2017,87.0,38,21.2,15,6.9,16.8,0.4,0.5,2.5,7.1,2.2,0.5,5.7,0.5,4.7,0,0.6

In [16]:
#Rename Total column to 'Team WAR.'
columns = list(nl_2017.columns)
new_columns = columns
new_columns[3] = 'Team WAR'
nl_2017.columns = new_columns
nl_2017.head()

,Team,Year,Wins,Team WAR,All P,SP,RP,Non-P,C,1B,2B,3B,SS,LF,CF,RF,OF (All),DH,PH
0,ARI,2017,93.0,47,28.5,21.4,6.5,18.5,0.5,5.5,1.3,1.3,1.1,0.4,2.9,4.1,7.4,0.3,1.1
1,ATL,2017,72.0,20.4,6.7,5.2,2.2,13.7,4.3,4.2,2,0.7,0,1.5,3,0.6,2.1,0,0.4
2,CHC,2017,92.0,42.4,14.9,9.5,5.5,27.5,4.1,4.3,2.3,5.8,3.3,1,2,2.8,5.8,0,1.9
3,CIN,2017,68.0,21.6,2.1,1.7,0.6,23.7,2,7.5,1.1,3.7,4.3,1.8,1,1.4,4.2,0.1,0.8
4,COL,2017,87.0,38,21.2,15,6.9,16.8,0.4,0.5,2.5,7.1,2.2,0.5,5.7,0.5,4.7,0,0.6